{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "preserve",
  "proseWrap": "always",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
